.login_conteiner{
    margin: auto;
    width: 36rem;
    height: 45rem;   
    border-radius: 2rem;
    background-color: white;
    -webkit-box-shadow: 10px 3px 44px -10px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 3px 44px -10px rgba(0,0,0,0.34);
    box-shadow: 10px 3px 44px -10px rgba(0,0,0,0.34);
    /*display: none;*/
}
.formulario-login{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    margin-top: 5rem;
    text-align: center;
}
p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}
.input-label input{
    height: 4rem;
    width: 30rem;
    outline: none;
    /*border: 1px #F8F8F8;*/
    margin-left: 2.5rem;
    font-size: 1.2rem;
    margin-top: 3rem;
    font-family: 'Nunito', sans-serif;
    padding-left: 2rem;
    border-radius: 1rem;
    border-color:  #F8F8F8;
    

}
.boton {
    background-color: #FF4E02;
    width: 30rem;
    height: 4rem;
    align-items: center;
    border: 0;
    margin-left: 2.5rem;
    margin-top: 3rem;
    border-radius: 1rem;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: 700;

}
.boton:hover{
    background-color:darkgray;
}
